# Dados do censo 2010 do IBGE

## Objetivo
- Consolidar uma base com CEP, coordenadas geográficas e código de setor censitário

In [1]:
import os
import zipfile
from ftplib import FTP
import pandas as pd
from tqdm import tqdm
import geopandas as gpd
from shapely.geometry import Point
from geopandas.tools import sjoin

## 1. Download dos dados de fontes externas

### 1.1. IBGE - Agregados por Setores Censitários

In [9]:
ftp = FTP("ftp.ibge.gov.br")
ftp.login()
ftp.cwd("Censos/Censo_Demografico_2010/Resultados_do_Universo/Agregados_por_Setores_Censitarios/")
files_on_ftp_path = ftp.nlst(".")

zip_files_to_download = [filename for filename in files_on_ftp_path if ".zip" in filename and "Doc" not in filename]
zip_files_to_download

['AC_20171016.zip',
 'AL_20171016.zip',
 'AM_20171016.zip',
 'AP_20171016.zip',
 'BA_20171016.zip',
 'CE_20171016.zip',
 'DF_20171016.zip',
 'ES_20171016.zip',
 'GO_20171016.zip',
 'MA_20171016.zip',
 'MG_20171016.zip',
 'MS_20171016.zip',
 'MT_20171016.zip',
 'PA_20171016.zip',
 'PB_20171016.zip',
 'PE_20200219.zip',
 'PI_20171016.zip',
 'PR_20171016.zip',
 'RJ_20171016.zip',
 'RN_20171016.zip',
 'RO_20171016.zip',
 'RR_20171016.zip',
 'RS_20171016.zip',
 'SC_20171016.zip',
 'SE_20171016.zip',
 'SP_Capital_20190823.zip',
 'SP_Exceto_a_Capital_20190207.zip',
 'TO_20171016.zip']

In [27]:
for filename in zip_files_to_download:
    print("Downloading {}...".format(filename))
    with open(f"../data/agregados/{filename}", "wb") as fp:
        ftp.retrbinary("RETR {}".format(filename), fp.write)

### 1.2. IBGE - SHP files dos setores censitários

In [22]:
ftp = FTP("geoftp.ibge.gov.br")
ftp.login()
ftp.cwd("organizacao_do_territorio/malhas_territoriais/malhas_de_setores_censitarios__divisoes_intramunicipais/censo_2010/setores_censitarios_shp/")
folders_on_ftp_path = ftp.nlst(".")

uf_folders = [filename for filename in folders_on_ftp_path if len(filename) == 2]

In [23]:
uf_folders

['ac',
 'al',
 'am',
 'ap',
 'ba',
 'ce',
 'df',
 'es',
 'go',
 'ma',
 'mg',
 'ms',
 'mt',
 'pa',
 'pb',
 'pe',
 'pi',
 'pr',
 'rj',
 'rn',
 'ro',
 'rr',
 'rs',
 'sc',
 'se',
 'sp',
 'to']

In [28]:
for uf in uf_folders:
    ftp = FTP("geoftp.ibge.gov.br")
    ftp.login()
    ftp.cwd(f"organizacao_do_territorio/malhas_territoriais/malhas_de_setores_censitarios__divisoes_intramunicipais/censo_2010/setores_censitarios_shp/{uf}/")
    # the following is needed because of a typo on GO file
    files_on_ftp_path = ftp.nlst(".")
    file_to_download = [filename for filename in files_on_ftp_path if "setores" in filename][0]
    print(f"Downloading {file_to_download} ...")
    with open(f"../data/setores_censitarios/{uf}_setores_censitarios.zip", "wb") as fp:
        ftp.retrbinary(f"RETR {file_to_download}", fp.write)

Downloading ac_setores_censitarios.zip ...
Downloading al_setores_censitarios.zip ...
Downloading am_setores_censitarios.zip ...
Downloading ap_setores_censitarios.zip ...
Downloading ba_setores_censitarios.zip ...
Downloading ce_setores_censitarios.zip ...
Downloading df_setores_censitarios.zip ...
Downloading es_setores_censitarios.zip ...
Downloading go_setores _censitarios.zip ...
Downloading ma_setores_censitarios.zip ...
Downloading mg_setores_censitarios.zip ...
Downloading ms_setores_censitarios.zip ...
Downloading mt_setores_censitarios.zip ...
Downloading pa_setores_censitarios.zip ...
Downloading pb_setores_censitarios.zip ...
Downloading pe_setores_censitarios.zip ...
Downloading pi_setores_censitarios.zip ...
Downloading pr_setores_censitarios.zip ...
Downloading rj_setores_censitarios.zip ...
Downloading rn_setores_censitarios.zip ...
Downloading ro_setores_censitarios.zip ...
Downloading rr_setores_censitarios.zip ...
Downloading rs_setores_censitarios.zip ...
Downloading sc_setores_censitarios.zip ...
Downloading se_setores_censitarios.zip ...
Downloading sp_setores_censitarios.zip ...
Downloading to_setores_censitarios.zip ...

### 1.3. Open Addresses South America - Brazil

Source: [https://www.kaggle.com/openaddresses/openaddresses-south-america?select=brazil.csv](https://www.kaggle.com/openaddresses/openaddresses-south-america?select=brazil.csv)

In [17]:
cep_coords = pd.read_csv("../data/open_addresses_south_america/brazil.csv", usecols=["POSTCODE", "LAT", "LON"])
cep_coords.head()

       LON        LAT   POSTCODE
0 -67.0496 -10.071417  69945-000
1 -67.0496 -10.071417  69945-000
2 -67.0496 -10.071417  69945-000
3 -67.0496 -10.071417  69945-000
4 -67.0496 -10.071417  69945-000

## 2. Extraindo os arquivos *.zip baixados dos FTPs do IBGE

### 2.1. Agregados

In [6]:
agregados_files = os.listdir("../data/agregados/")
agregados_path_files = [os.path.join("../data/agregados/", file) for file in agregados_files]
agregados_path_files[:3]

['../data/agregados/AM_20171016.zip',
 '../data/agregados/RN_20171016.zip',
 '../data/agregados/PR_20171016.zip']

In [9]:
directory_to_extract_to = "../data/agregados/extracted/"

for path_to_zip_file in tqdm(agregados_path_files):
    with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
        zip_ref.extractall(directory_to_extract_to)

100%|██████████| 28/28 [01:04<00:00,  2.30s/it]

### 2.2. Setores Censitários

In [16]:
sc_files = [file for file in os.listdir("../data/setores_censitarios/") if ".zip" in file]
sc_path_files = [os.path.join("../data/setores_censitarios/", file) for file in sc_files]
sc_path_files[:3]

['../data/setores_censitarios/am_setores_censitarios.zip',
 '../data/setores_censitarios/ms_setores_censitarios.zip',
 '../data/setores_censitarios/es_setores_censitarios.zip']

In [17]:
directory_to_extract_to = "../data/setores_censitarios/extracted/"

for path_to_zip_file in tqdm(sc_path_files):
    with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
        zip_ref.extractall(directory_to_extract_to)

100%|██████████| 27/27 [00:05<00:00,  4.90it/s]

## 3. Pré-processamento

### 3.1. Agrupando CEPs iguais

Da base Open Addresses do Brasil, temos diversas entradas de coordenadas geográficas para um mesmo CEP. 

Vamos utilizar a mediana como coordenada aproximada de um CEP.

In [21]:
cep_coords = cep_coords.groupby(by="POSTCODE").median().reset_index()

In [23]:
cep_coords.shape

(429972, 3)

In [25]:
cep_coords.head()

    POSTCODE        LON        LAT
0  00000-000 -46.663830 -22.257613
1  00000-001 -67.838738  -9.921660
2  00000-002 -67.880508  -9.882072
3  00000-003 -46.514443 -21.820570
4  00000-004 -67.893353  -9.882038

### 3.2. Transformando de DataFrame para GeoDataFrame

Transformação necessária para que possamos atribuir de forma eficiente as coordenadas de cada CEP nos polígonos presentes nos .SHP files

In [58]:
cep_coords_gdf = gpd.GeoDataFrame(
    cep_coords, geometry=gpd.points_from_xy(cep_coords["LON"], cep_coords["LAT"]))

In [59]:
cep_coords_gdf

         POSTCODE        LON        LAT                     geometry
0       00000-000 -46.663830 -22.257613  POINT (-46.66383 -22.25761)
1       00000-001 -67.838738  -9.921660   POINT (-67.83874 -9.92166)
2       00000-002 -67.880508  -9.882072   POINT (-67.88051 -9.88207)
3       00000-003 -46.514443 -21.820570  POINT (-46.51444 -21.82057)
4       00000-004 -67.893353  -9.882038   POINT (-67.89335 -9.88204)
...           ...        ...        ...                          ...
429967  99990-999 -48.562378 -25.574579  POINT (-48.56238 -25.57458)
429968  99999-990 -48.563207 -25.567153  POINT (-48.56321 -25.56715)
429969  99999-998 -41.092554 -20.853443  POINT (-41.09255 -20.85344)
429970  99999-999 -43.998336 -22.912780  POINT (-43.99834 -22.91278)
429971    Sem CEP -47.758636 -15.644745  POINT (-47.75864 -15.64475)

[429972 rows x 4 columns]

### 3.3. Concatenando os arquivos .SHP de todos os estados

In [65]:
shp_files = [file for file in os.listdir('../data/setores_censitarios/extracted/') if ".shp" in file]
shp_files[:3]

['24SEE250GC_SIR.shp', '32SEE250GC_SIR.shp', '16SEE250GC_SIR.shp']

In [66]:
gdfs = [gpd.read_file(f'../data/setores_censitarios/extracted/{filename}') for filename in shp_files]
census_sector_gpd = pd.concat(gdfs)
del gdfs

In [67]:
census_sector_gpd = census_sector_gpd[["CD_GEOCODI", "geometry"]]
census_sector_gpd.head()

        CD_GEOCODI                                           geometry
0  240020805000006  POLYGON ((-36.90843 -5.58145, -36.90834 -5.582...
1  240020805000007  POLYGON ((-36.90586 -5.58354, -36.90556 -5.585...
2  240020805000008  POLYGON ((-36.90780 -5.58389, -36.90739 -5.586...
3  240020805000009  POLYGON ((-36.90939 -5.58418, -36.90933 -5.585...
4  240020805000010  POLYGON ((-36.91135 -5.58195, -36.91135 -5.581...

### 3.4. Spatial Join

In [71]:
pointInPolys = sjoin(cep_coords_gdf, census_sector_gpd, how='left')

/opt/miniconda3/envs/ibge_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4674

  """Entry point for launching an IPython kernel.

In [72]:
pointInPolys.isnull().sum()

POSTCODE        0
LON             0
LAT             0
geometry        0
index_right    15
CD_GEOCODI     15
dtype: int64

In [73]:
pointInPolys.dropna()

,POSTCODE,LON,LAT,geometry,index_right,CD_GEOCODI
0,00000-000,-46.663830,-22.257613,POINT (-46.66383 -22.25761),16996.0,313490505000032
1,00000-001,-67.838738,-9.921660,POINT (-67.83874 -9.92166),688.0,120040105000325
2,00000-002,-67.880508,-9.882072,POINT (-67.88051 -9.88207),688.0,120040105000325
3,00000-003,-46.514443,-21.820570,POINT (-46.51444 -21.82057),24568.0,315180005000240
4,00000-004,-67.893353,-9.882038,POINT (-67.89335 -9.88204),688.0,120040105000325
...,...,...,...,...,...,...
429967,99990-999,-48.562378,-25.574579,POINT (-48.56238 -25.57458),12827.0,411820405000166
429968,99999-990,-48.563207,-25.567153,POINT (-48.56321 -25.56715),12766.0,411820405000105
429969,99999-998,-41.092554,-20.853443,POINT (-41.09255 -20.85344),953.0,320120905000204
429970,99999-999,-43.998336,-22.912780,POINT (-43.99834 -22.91278),7481.0,330260120000035
429971,Sem CEP,-47.758636,-15.644745,POINT (-47.75864 -15.64475),1925.0,530010805100314

In [74]:
final_df = pointInPolys.drop(columns=["geometry", "index_right"])

In [77]:
final_df = pd.DataFrame(final_df)

In [79]:
final_df.isnull().sum()

POSTCODE       0
LON            0
LAT            0
CD_GEOCODI    15
dtype: int64

In [80]:
final_df = final_df.dropna()

In [83]:
final_df["CD_GEOCODI"] = final_df["CD_GEOCODI"].astype(int)

/opt/miniconda3/envs/ibge_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429994 entries, 0 to 429971
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   POSTCODE    429994 non-null  object
 1   LON         429994 non-null  float64
 2   LAT         429994 non-null  float64
 3   CD_GEOCODI  429994 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 16.4+ MB

### 3.5. Salvando a base CEP, LON, LAT, CD_GEOCODI

In [87]:
final_df

         POSTCODE        LON        LAT       CD_GEOCODI
0       00000-000 -46.663830 -22.257613  313490505000032
1       00000-001 -67.838738  -9.921660  120040105000325
2       00000-002 -67.880508  -9.882072  120040105000325
3       00000-003 -46.514443 -21.820570  315180005000240
4       00000-004 -67.893353  -9.882038  120040105000325
...           ...        ...        ...              ...
429967  99990-999 -48.562378 -25.574579  411820405000166
429968  99999-990 -48.563207 -25.567153  411820405000105
429969  99999-998 -41.092554 -20.853443  320120905000204
429970  99999-999 -43.998336 -22.912780  330260120000035
429971    Sem CEP -47.758636 -15.644745  530010805100314

[429994 rows x 4 columns]

In [88]:
# final_df.to_csv("../data/processed/census_code_cep_coordinates.csv", index=False)

## 4. Exemplo de aplicação

Para ver um exemplo de aplicação vá para o notebook: [renda_per_capita.ipynb](renda_per_capita.ipynb)